.scrollbar {
  overflow-y: scroll;
  scrollbar-color: var(--v-formBase-base) var(--v-formBackground-base);
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--v-formBackground-base);
}

.scrollbar::-webkit-scrollbar {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--v-formBase-base);
  border-radius: 1rem;
  border: 2px solid var(--v-formBackground-base);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--v-formBase-base) var(--v-formBackground-base);
  background-color: var(--v-formBackground-base);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--v-formBase-base);
  border-radius: 1rem;
  border: 2px solid var(--v-formBackground-base);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--v-formBase-base);
}
